.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    background-color: #000;
    color: white;
}

.logo img {
    height: 50px;
}

.nav ul {
    display: flex;
    width: 995px;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 200px;
    font-size: 20px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav li a:hover {
    color: #ff0000;
}