.sidebar {
    width: 80px;
    height: 1024px;
    /* largeur fixe de la sidebar */
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rotate {
    display: block;
    transform: rotate(180deg);
    color: white;
    writing-mode: vertical-lr;
    text-align: center;
    margin-top: 250px;
}

.icon {
    color: red;
    background-color: white;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}